*{
	margin:0;
	padding:0;
}
body{
	background-color: #DADBCD;
}
#wrapper{
	width:90%;
	margin: 0 auto;
}
#adbox{
	width:300px;
	height:250px;
	overflow: hidden;
	border: 1px solid #000;
	margin:150px auto;
	position: relative;
	background-color: #c5d9ca;

}

/*----ALL DRINKS----*/

#drinks{
	width:300px;
	height:250px;
	background-image: url("art/drinks.png");
	background-repeat: no-repeat;
	background-size: 100%;
	position: absolute;
	bottom: 0px;
	z-index: 3;
	animation-name:drinkone;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes drinkone{
	0%{
		left:-250px;
		opacity:0;
	}
	100%{
		left:3px;
		opacity:1;
		}
}

/*----COLOR BARS----*/

#colors{
	width:300px;
	height:250px;
	background-image: url("art/color bars.png");
	background-repeat: no-repeat;
	background-size: 100%;
	position: absolute;
	bottom: -350px;
	z-index: 2;
	opacity: 0;
	animation-name:drinktwo;
    animation-duration: 2s;
    animation-delay:2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes drinktwo{
	0%{
		bottom: :-350px;
		opacity:0;
	}
	40%{
		opacity: 1;
	}
	100%{
		bottom:0px;
		opacity:1;
		}
}

/*----FRUIT----*/

#fruits{
	width:300px;
	height:250px;
	background-image: url("art/fruits.png");
	background-repeat: no-repeat;
	background-size: 100%;
	position: absolute;
	bottom: -350px;
	z-index: 7;
	opacity: 0;
	animation-name:fruitimg;
    animation-duration: 2s;
    animation-delay:2.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fruitimg{
	0%{
		bottom: :-350px;
		opacity:0;
	}
	40%{
		opacity: 1;
	}
	100%{
		bottom:0px;
		opacity:1;
		}
}

#logo{
	width:300px;
	height:250px;
	background-image: url("art/starbucks.png");
	background-repeat: no-repeat;
	background-size: 100%;
	position: absolute;
	bottom: -350px;
	z-index: 8;
	opacity: 0;
	animation-name:starbuckslogo;
    animation-duration: 2s;
    animation-delay:7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes starbuckslogo{
	0%{
		bottom: :-350px;
		opacity:0;
	}
	40%{
		opacity: 1;
	}
	100%{
		bottom:0px;
		opacity:1;
		}
}


/*----TYPE----*/

h1{
	font-size: 1.5em;
	font-family: sans-serif;
	color:#d37254;
	z-index: 5;
	opacity: 0;
	position: absolute;
	top:30px;
	animation-name:h_one;
    animation-duration: 2s;
    animation-delay:6s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes h_one{
	0%{
		left:-200px;
	}
	100%{
		left:25px;
		opacity: 1;
	}
}

h2{
	font-size: .8em;
	font-family: sans-serif;
	color:#fff;
	z-index: 4;
	opacity: 0;
	position: absolute;
	top:90px;
	animation-name:h_two;
    animation-duration: 2s;
    animation-delay:6.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes h_two{
	0%{
		left:-200px;
	}
	100%{
		left: 85px;
		opacity: 1;
	}
}
h3{
	font-size: .8em;
	font-family: sans-serif;
	color:#328632;
	z-index: 6;
	opacity: 0;
	position: absolute;
	top: 15px;
	animation-name:h_three;
    animation-duration: 2s;
    animation-delay:4.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes h_three{
	0%{
		left:-200px;
	}
	100%{
		left:25px;
		opacity: 1;
	}
}
